@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clear { clear: both; }

#command_history {
    overflow: auto;
    height: 4em;
    border-style: solid;
    width: 50%;
}

.card {
    width: 8em;
    height: 4em;
    border-style: inset;
    border-width: 2px;
    float: left;
    position: relative;
}

.command-button {
    display: none;
}

.command-choice {
    border-color: red;
    border-width: 4px;
    display: unset;
}

.command-chosen {
    border-style: dashed;
    border-color: green;
    border-width: 4px;
    display: unset;
}
